</div>
</body>
</html>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script src="../javascripts/jquery.lazyload.js"></script>
<script type="text/javascript">
	$(function(){
		$("img.lazy").lazyload()
	})
</script>
