<div class="margin">
		<div class="panel panel-danger">
		  <div class="panel-heading">无印篇系列</div>
		  <div class="panel-body">
		    这只是妙蛙种子，他出生时便有一粒种子长在背上。那种子还会随著宝可梦长大，所以专家们仍未能肯定他是植物类还是动物类。
		  </div>
		</div>
		<div class="panel panel-danger">
		  <div class="panel-heading">XY系列</div>
		  <div class="panel-body">
		    妙蛙种子，种子宝可梦。出生后有一段期间会从被上的种子得到营养并且长大。
		  </div>
		</div>
</div>